
  /* background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
  /* background-image: url('https://img.freepik.com/premium-vector/cinema-background-with-film-reel-popcorn-drink-tickets_259139-1225.jpg'); */
  /* background-image: url('https://media.gettyimages.com/id/2150652309/video/loopable-3d-animation-of-classic-movie-night-essentials-with-clapperboard-popcorn-and-film.jpg?s=640x640&k=20&c=HltjQAk8K8tO1q1W3kgDdKi9W3Mc3M5n20XqDIJLzCA='); */
 

:root {
  font-family: "Segoe UI", Roboto, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #1f1f1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 600;
  color: #ffea00;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #DA1212;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 600;
  background-color: #ffffff;
  /* background-image: url('https://img.freepik.com/premium-vector/cinema-background-with-film-reel-popcorn-drink-tickets_259139-1225.jpg'); */
  /* background-size: cover;  */
  background-image: url('./assets/background/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;
  /* background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='86.602' height='50' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M-.15 6.75 21.5-5.75M-.15.238l21.65-12.5M0 6.75l-21.65-12.5M0 .238l-21.65-12.5M0 12.5v-25L21.65-25M0 12.5-21.65 0v-25L0-37.5 21.65-25V0zm86.452 44.25 21.65-12.5m-21.65 5.988 21.65-12.5m-21.65 5.988 21.65-12.5m-21.5 25.524-21.65-12.5m21.65 5.988-21.65-12.5m21.65 5.988-21.65-12.5m21.65 6.274L64.952 25m21.65 37.5v-25l21.65-12.5m-43.3 25V25l21.65-12.5 21.65 12.5v25l-21.65 12.5Zm21.5-43.25 21.65-12.5M86.452.238l21.65-12.5M86.602 6.75l-21.65-12.5M86.601.238l-21.65-12.5M86.601 12.5v-25l21.65-12.5m-21.65 37.5L64.952 0v-25l21.65-12.5 21.65 12.5V0zM43.15 31.75l21.651-12.5m-21.65 5.988 21.65-12.5m-21.65 5.988 21.65-12.5m-21.5 25.524-21.65-12.5m21.65 5.988-21.65-12.5m21.65 5.988-21.65-12.5M43.3 12.5 21.651 0M43.3 37.5v-25L64.951 0m0 25-21.65 12.5L21.651 25V0L43.3-12.5 64.951 0zm-21.65 37.5L21.651 50M43.3 87.5v-25L64.951 50m0 0v25l-21.65 12.5L21.651 75V50L43.3 37.5ZM-.15 56.75 21.5 44.25M-.15 50.238l21.65-12.5M-.15 43.726l21.65-12.5M0 56.75l-21.65-12.5M0 50.238l-21.65-12.5M0 43.726l-21.65-12.5M0 37.5-21.65 25M0 62.5v-25L21.65 25m0 0v25L0 62.5-21.65 50V25L0 12.5z'  stroke-linecap='square' stroke-width='1' stroke='hsla(47, 81%, 61%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>"); */

  /* background: #F0F2F0;  fallback for old browsers */
/* background: #b92b27;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #1565C0, #b92b27); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #ffffff;
}

h1 {
  font-size: 3.5em;
  line-height: 1.2;
  margin-bottom: 0.5em;
  color: #ffffff;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.75em 1.5em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: inherit;
  background-color: #1976d2;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ffffff;
  transform: scale(1.05);
  transition: cubic-bezier(0.19, 1, 0.22, 1);
}



@media (prefers-color-scheme: light) {
  :root {
    color: #1f1f1f;
    background-color: #ffffff;
  }

  a {
    color: #000bbd;
  }

  a:hover {
    color: #d61c00;
  }

  button {
    background-color: #eeeeee;
    color: #1f1f1f;
  }
}

.frosted-glass {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 1.5em;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  max-width: 800px;
  margin: auto;
}

.translucent-text-container {
  background-color: #ffffffb3;
  padding: 1.2em;
  color: #000000;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity:0.9;
  text-align: center;
  align-items: center;
  flex-direction: width;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  z-index: 1000;

}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* White background */
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important; /* Black text */
  color: #000 !important;
  caret-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
